<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <label><input type="radio" v-model="color" value="red">Rojo</label><br>
        <label><input type="radio" v-model="color" value="yellow">Amarillo</label><br>
        <label><input type="radio" v-model="color" value="green">Verde</label><br>
        <hr>
        <p>Cambio color con clase:
            <span :class="{colorrojo: color=='red', coloramarillo: color=='yellow', colorverde: color=='green'}">{{saludo}}</span>
        </p>
        <p>Cambio color con estilo:
            <span :style="{color: color}">{{saludo}}</span>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>

</body>

</html>