.pelota {
    position: relative;
    width: 0px;
    height: 0px;
    display: inline-block;
}

.pelota > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.cancha {
    display: inline-block;

}

.cancha > div {
    display: inline-block;
    border-width: 1px;
    border-color:  green;
    border-style: dashed;
}